<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.app.dev"
        version   = "1.0.0">

    <name>Sample Application</name>

    <description>
       This is a sample application. You should make changes.
    </description>

    <author href="https://www.worcester.ac.uk/about/profiles/dr-chris-bowers" email="c.bowers@worc.ac.uk">
       Chris Bowers
    </author>

    <preference name="permissions"                value="none"/>

    <!-- Build only for Android -->
    <platform name="android" />
        
    <!-- Some useful plugins -->
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
   
  
    <!-- Needed to enable application to access the internet -->
    <access origin="*"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
   

</widget>
